.category-title {
    font-size: 2em;
    margin: 0;
    font-weight: normal;
    color: #fff;
}

.category-items {
    transition: height 0.3s ease;
}

.category-item {
    display: grid;
    grid-template-columns: 30px 1fr 80px 1fr;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #424242;
    color: #bbb;
}

.category-item:last-child {
    border-bottom: none;
}

.item-title {
    font-size: 1.2em;
    margin: 0;
    font-weight: normal;
    color: #fff;
}

.item-icon {
    width: 20px;
    margin-right: 10px;
    color: #777;
}

.new-tag {
    background-color: #3b82f6;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.6em;
    margin-left: 5px;
}

.item-child-objects {
    display: flex;
    flex-wrap: wrap;
    max-height: 40px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.item-child-objects a {
    font-size: 0.9em
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    padding: 3px 6px;
    border-radius: 4px;
}

.item-stats {
    font-size: 0.75em;
    color: #aaa;
    text-align: right;
}

item-last-post {
    display: flex;
    align-items: center;
    font-size: 0.7em;
    color: #aaa;
}

.item-last-post img {
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}