/* theme_dark.css */

.header {
  background-color: #313742;
  color: #a9b7c3;
}

.logo {

}
nav a, .auth-search a {
  color: #a9b7c3;
}

body {
  background-color: #292e39;
  font-family: sans-serif;
}

/* login.css */
.login-container h1 {color: #c0c9ce}
.login-container {background: #313742}
.login-container .form-group input[class="form-control"]{background-color: #383d48}
.login-container .submit-button {background-color: #558BBD;
                                 color: white}
.login-container .form-group label {color: #ddd}
/* .label-check {} */


/* register.css */
.registration-container h1 {color: #c0c9ce}
.registration-container {background: #313742}
.registration-container .form-group input[class="form-control"] {background-color: #383d48;
                                                                 color: white}
.registration-container .submit-button {background-color: #558BBD;
                                        color: white}
.registration-container .form-group label {color: #ddd}
.registration-container .form-description {color: #959fb4}


/* index.css  */
.category-header {background-color: #3b424f}
.category-header h1 {color: #fff}
.category-items {background-color: #313742}