/* theme_dark.css */


/*     ---------------------------------------------------------------------------------------------------------     */
/* style.css */
.header {
  background-color: #313742;
  color: #a9b7c3;
}

.logo {

}
nav a, .auth-search a {
  color: #a9b7c3;
}

body {
  background-color: #292e39;
  font-family: sans-serif;
}

/*     ---------------------------------------   */
/* dropdown click  */
.dropdown-click-button {
    color: #959faa;
}

.dropdown-click-button:hover {
    color: #a9b1c2
}

.dropdown-click-content {
    background-color: #383d48;
}

.dropdown-click-content a {
    color: #959fb4;
}

.dropdown-click-content a:hover {
    background-color: #424751;
}

/*     ---------------------------------------   */
/*  dropdown hover  */
.dropdown-hover-button {
    background-color: #313742;
    border: 2px solid #505662;
}

.dropdown-hover {
    background-color: #2a475e;
}

.dropdown-hover-item {
    color: #fff;
}

.dropdown-hover-item:hover {
    background-color: #34495e;
}

/*     ---------------------------------------   */
/*   button-function    */
.back-button:hover {
    background-color: #345b7a;
}

.back-button {
    background-color: #2a475e;
    color: #b7c0c7;
}


#delete-button {
    color: white;
    background-color: #dc3545;
}

#delete-button:hover {
    background-color: #c82333;
}

#create-group-button {
    color: white;
    background-color: #558BBD;
}

#create-group-button:hover {
    background-color: #3b596c;
}

.create-content-button {
    color: white;
    background-color: #558BBD;
}

.create-content-button:hover {
    background-color: #3b596c;
}

#edit-button {
    color: white;
    background-color: #375c94;
}

#edit-button:hover {
    background-color: #2b4975;
}

/*     ---------------------------------------   */
/* management page */
.pagination {
    background-color: #313742
}

.pagination a {
    color: #959fb4;
}

.pagination a.active {
    background-color: #3b596c;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #242630;}


.content-type-dropdown {
    background-color: #2a475e;
}

.dropdown-item {
    color: #b7c0c7;
}

.dropdown-item:hover {
    background-color: #345b7a;
}


/*     ---------------------------------------------------------------------------------------------------------     */
/* login.css */
.login-container h1 {
    color: #c0c9ce
}

.login-container {
    background: #313742
    }

.login-container .form-group input[class="form-control"] {
    background-color: #383d48;
    color: #c0c9ce
}
.login-container .submit-button {
    background-color: #558BBD;
    color: white
}
.login-container .form-group label {
    color: #ddd
}


/*     ---------------------------------------------------------------------------------------------------------     */
/* register.css */
.registration-container h1 {
    color: #c0c9ce
}

.registration-container {
    background: #313742
}

.registration-container .form-group input[class="form-control"] {
    background-color: #383d48;
    color: white
}

.registration-container .submit-button {
    background-color: #558BBD;
    color: white
}

.registration-container .form-group label {
    color: #ddd
}

.registration-container .form-description {
    color: #959fb4
}



/*     ---------------------------------------------------------------------------------------------------------     */
/* index.css  */
.group-header {
    background-color: #3b424f
}

.group-header h1 {
    color: #fff
}

.group-items {
    background-color: #313742
}

.child-object-sil a {
    color: white
}

.child-object-sil {
    color: white
}

.category-description {
    font-size: 0.75em;
    color: #888;
}




/*     ---------------------------------------------------------------------------------------------------------     */
/* category.css */
.category-title {
    color: #fff;
}

.category-items {
    background-color: #313742
}

.category-item {
    color: #bbb;
}

.item-title {
    color: #fff;
}

.item-icon {
    color: #777;
}

.item-stats {
    color: #aaa;
}

item-last-post {
    color: #aaa;
}

.function-objects .delete-category {
    background-color: #dc3545;
}

.function-objects .delete-category:hover {
    background-color: #c82333;
}

.function-objects .create-object-content {
    background-color: #558BBD;
}

.function-objects .create-object-content:hover {
    background-color: #3b596c;
}

.create-object-content {
    background-color: #2a475e;
}



/*     ---------------------------------------------------------------------------------------------------------     */
/* forums.css */
.function-objects .create-topic {
    background-color: #558BBD;
}

.function-objects .create-topic:hover {
    background-color: #3b596c;
}

.function-objects .delete-forum {
    background-color: #dc3545;
}

.function-objects .delete-forum:hover {
    background-color: #c82333;
}

.forum {
    color: #bbb;
}

.forum-title {
    color: #fff;
}

.forum-item {
    background-color: #313742
}

.item-title {
    color: #ddd;
}

.item-author {
    color: #777;
}

.item-stats {
    color: #888;
}


/*     ---------------------------------------------------------------------------------------------------------     */
/* topic.css */
.function-objects .reply {
    color: white;
    background-color: #558BBD;
}

.function-objects .reply:hover {
    background-color: #3b596c;
}

.function-objects .delete-topic {
    color: white;
    background-color: #dc3545;
}

.function-objects .delete-topic:hover {
    background-color: #c82333;
}

.posts {
    background-color: #313742
}

.post-header {
    color: #6272a4;
}

.post {
    background-color: #313742;
}

.post-user-info-other {
    color: #50fa7b;
}

.post-number {
    color: #959fb4
}

.post-number:hover {
    color: #aec7ba
}

.post::after {
    background: #505662;
}

.function-button {
    background-color: #3b414d;
    color: #959faa;
}

.function-button:hover {
    background-color: #3d434f;
    color: #a9b1c2
}

.post-content-footer p {
    color: #959faa
}

.post-content-header span {
    color: #959faa
}



/*     ---------------------------------------------------------------------------------------------------------     */
/* reply.css  */
.reply-form {
    background-color: #313742;
}

.reply-title {
    color: #eceff4;
}

.form-control {
    background-color: #383d48;
    color: #eceff4;
    color: #b7c9d8;
}

.form-control::placeholder {
    color: #6a717e;
}


.form-control:focus {
    color: #b7c9d8;
    border-color: #313742;
    background-color: #313742;
}

.alert-danger {
    background-color: #bf616a;
    color: #eceff4;
}

.reply-button {
    background-color: #558BBD;
    color: #2e3440;
}

.reply-button:hover {
    background-color: #8fbcbb;
}

.cancel-button {
    background-color: #dc3545;
    color: #2e3440;
}

.cancel-button:hover {
    background-color: #c82333;
}



/*     ---------------------------------------------------------------------------------------------------------     */
/* create_topic.css */
.create-form {
    background-color: #313742;
}

.form-control-title {
    background-color: #383d48;
    color: #eceff4;
    color: #b7c9d8;
}

.form-control-title::placeholder {
    color: #6a717e;
}


.form-control-title:focus {
    color: #b7c9d8;
    border-color: #313742;
    background-color: #313742;
}

.create-title {
    color: #eceff4;
}

.create-button {
    background-color: #558BBD;
    color: #2e3440;
}

.create-button:hover {
    background-color: #8fbcbb;
}



/*     ---------------------------------------------------------------------------------------------------------     */
/* profile.css */
.profile-block {
    background-color: #313742;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-info {
    border-bottom: 4px solid #505662;
}

.user-status {
    color: #999;
}

.report-button {
    background-color: #34495e;
    color: #fff;
}

.report-button:hover {
    background-color: #2c3e50;
}

.stat-label {
    color: #999;
}

.user-footer {
    color: #999;
}

.find-button {
    background-color: #34495e;
    color: #fff;
}

.find-button:hover {
    background-color: #2c3e50;
}




/*     ---------------------------------------------------------------------------------------------------------     */
/*   laod_avatar       */
.load-container h1 {
    color: #c0c9ce
}

.load-container {
    background: #313742
    }

.load-container .form-group input[class="form-control"] {
    background-color: #383d48;
    color: #c0c9ce
}
.load-container .submit-button {
    background-color: #558BBD;
    color: white
}
.load-container .form-group label {
    color: #ddd
}
