/* theme_dark.css */

/* style.css */
.header {
  background-color: #313742;
  color: #a9b7c3;
}

.logo {

}
nav a, .auth-search a {
  color: #a9b7c3;
}

body {
  background-color: #292e39;
  font-family: sans-serif;
}

.back-button:hover {
    background-color: #345b7a;
}

.back-button {
    background-color: #2a475e;
    color: #b7c0c7;
}

/* management page */
.pagination {
    background-color: #313742
}

.pagination a {
    color: #959fb4;
}

.pagination a.active {
    background-color: #3b596c;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #242630;}




/* login.css */
.login-container h1 {
    color: #c0c9ce
}

.login-container {
    background: #313742
    }

.login-container .form-group input[class="form-control"] {
    background-color: #383d48;
    color: #c0c9ce
}
.login-container .submit-button {
    background-color: #558BBD;
    color: white
}
.login-container .form-group label {
    color: #ddd
}

/* .label-check {} */


/* register.css */
.registration-container h1 {
    color: #c0c9ce
}

.registration-container {
    background: #313742
}

.registration-container .form-group input[class="form-control"] {
    background-color: #383d48;
    color: white
}

.registration-container .submit-button {
    background-color: #558BBD;
    color: white
}

.registration-container .form-group label {
    color: #ddd
}

.registration-container .form-description {
    color: #959fb4
}



/* index.css  */
.group-header {
    background-color: #3b424f
}

.group-header h1 {
    color: #fff
}

.group-items {
    background-color: #313742
}

.child-object-sil a {
    color: white
}

.child-object-sil {
    color: white
}

.category-description {
    font-size: 0.75em;
    color: #888;
}




/* category.css */
.category-title {
    color: #fff;
}

.category-items {
    background-color: #313742
}

.category-item {
    color: #bbb;
}

.item-title {
    color: #fff;
}

.item-icon {
    color: #777;
}

.item-stats {
    color: #aaa;
}

item-last-post {
    color: #aaa;
}

.function-objects .delete-category {
    background-color: #dc3545;
}

.function-objects .delete-category:hover {
    background-color: #c82333;
}

.function-objects .create-object-content {
    background-color: #558BBD;
}

.function-objects .create-object-content:hover {
    background-color: #3b596c;
}


/* forums.css */
.function-objects .create-topic {
    background-color: #558BBD;
}

.function-objects .create-topic:hover {
    background-color: #3b596c;
}

.function-objects .delete-forum {
    background-color: #dc3545;
}

.function-objects .delete-forum:hover {
    background-color: #c82333;
}

.forum {
    color: #bbb;
}

.forum-title {
    color: #fff;
}

.forum-item {
    background-color: #313742
}

.item-title {
    color: #ddd;
}

.item-author {
    color: #777;
}

.item-stats {
    color: #888;
}


/* topic.css */
.function-objects .reply {
    color: white;
    background-color: #558BBD;
}

.function-objects .reply:hover {
    background-color: #3b596c;
}

.function-objects .delete-topic {
    color: white;
    background-color: #dc3545;
}

.function-objects .delete-topic:hover {
    background-color: #c82333;
}

.posts {
    background-color: #313742
}

.post-header {
    color: #6272a4;
}

.post {
    background-color: #313742;
}

.post-user-info-other {
    color: #50fa7b;
}

.post-number {
    color: #959fb4
}

.post-number:hover {
    color: #aec7ba
}

.post::after {
    background: #505662;
}

.function-button {
    background-color: #3b414d;
    color: #959faa;
}

.function-button:hover {
    background-color: #3d434f;
    color: #a9b1c2
}

.post-content-footer p {
    color: #959faa
}

.post-content-header span {
    color: #959faa
}

/* reply.css  */
.reply-form {
    background-color: #313742;
}

.reply-title {
    color: #eceff4;
}

.form-control {
    background-color: #383d48;
    color: #eceff4;
    color: #b7c9d8;
}

.form-control::placeholder {
    color: #6a717e;
}


.form-control:focus {
    color: #b7c9d8;
    border-color: #313742;
    background-color: #313742;
}

.alert-danger {
    background-color: #bf616a;
    color: #eceff4;
}

.reply-button {
    background-color: #558BBD;
    color: #2e3440;
}

.reply-button:hover {
    background-color: #8fbcbb;
}

.cancel-button {
    background-color: #dc3545;
    color: #2e3440;
}

.cancel-button:hover {
    background-color: #c82333;
}

/* create_topic.css */
.create-form {
    background-color: #313742;
}

.form-control-title {
    background-color: #383d48;
    color: #eceff4;
    color: #b7c9d8;
}

.form-control-title::placeholder {
    color: #6a717e;
}


.form-control-title:focus {
    color: #b7c9d8;
    border-color: #313742;
    background-color: #313742;
}

.create-title {
    color: #eceff4;
}

.create-button {
    background-color: #558BBD;
    color: #2e3440;
}

.create-button:hover {
    background-color: #8fbcbb;
}

/* .css */

