.forum {
    width: 90%;
    margin: 10px auto;
    font-family: sans-serif;
    border-radius: 8px;
    overflow: hidden;
}

.forum-title {
    font-size: 2em;
    margin: 0;
    padding: 20px;
    font-weight: normal;
    color: #fff;
}

.forum-items {
    padding: 10px;
}

.forum-item {
    display: flex;
    padding: 15px;
    background-color: #2a2a2a;
    border-bottom: 1px solid #3e3e3e;
    align-items: center;
}

.forum-item:last-child {
    border-bottom: none;
}

.item-avatar {
    width: 40px;
    margin-right: 15px;
}

.item-avatar img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    height: 40px;
}

.item-info {
    flex: 1;
}

.item-title {
    font-size: 1.1em;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.item-author {
    font-size: 0.75em;
}

.item-stats {
    display: flex;
    align-items: center;
    font-size: 0.7em;
    white-space: nowrap;
}

.item-stats span {
    margin-right: 10px;
}

.item-stats img {
    width: 15px;
    vertical-align: middle;
    margin-right: 3px;
}


