.forum {
    width: 90%;
    margin: 10px auto;
    font-family: sans-serif;
    color: #bbb;
    border-radius: 8px;
    overflow: hidden;
}

/* Заголовок форума */
.forum-title {
    font-size: 2em;
    margin: 0;
    padding: 20px;
    font-weight: normal;
    color: #fff;
}


/* === Стили для элементов форума (тем) === */

.forum-items {
    padding: 10px;
}

.forum-item {
    display: flex;
    padding: 15px;
    background-color: #2a2a2a;
    border-bottom: 1px solid #3e3e3e;
    align-items: center;
}

.forum-item:last-child {
    border-bottom: none;
}

.item-avatar {
    width: 40px;
    margin-right: 15px;
}

.item-avatar img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    height: 40px;
}

.item-info {
    flex: 1;
}

.item-title {
    font-size: 1.1em;
    font-weight: bold;
    color: #ddd;
    display: block;
    margin-bottom: 5px;
}

.item-author {
    font-size: 0.75em;
    color: #777;
}

.item-stats {
    display: flex;
    align-items: center;
    font-size: 0.7em;
    color: #888;
    white-space: nowrap;
}

.item-stats span {
    margin-right: 10px;
}

.item-stats img {
    width: 15px;
    vertical-align: middle;
    margin-right: 3px;
}


/* managment page */

.pagination {
    display: inline-block;
    background-color: #313742
}

.pagination a {
  color: #959fb4;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #505662;
}

.pagination a.active {
  background-color: #3b596c;
  color: white;
  border: 1px solid #3b596c;
}

.pagination a:hover:not(.active) {background-color: #242630;}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
