.profile-block {
    align: center
    max-width: 450px;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 15px;
}


.user-avatar {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    margin-right: 15px;
}

.user-details {
    flex: 1;
}

.user-name {
    font-size: 1.3em;
    font-weight: bold;
    padding-left: 2px;
}

.user-status {
    font-size: 0.9em;
}

.user-details span {
    display: flex;
    align-items: center;
}

.user-details span img {
    width: 15px;
    margin-left: 5px;
    vertical-align: middle;
}

.report-button {
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    align-self: flex-start;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.user-stats {
    display: flex;
    justify-content: space-around;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-label {
    font-size: 0.8em;
    margin-bottom: 5px;
}

.stat-value {
    font-size: 1.1em;
    font-weight: bold;
}

.user-roles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.user-roles div {
    margin-right: 5px;
    padding: 2px 5px;
    border-radius: 3px;
    color: #fff;
    font-size: 0.8em;
    white-space: nowrap;
}

.user-roles div:last-child {
    margin-right: 0;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    border-radius:20px;
    object-fit: cover;
    object-position: center;
}


/*  other list  */

.dropdown-hover-menu {
    position: relative;
    display: inline-block;
}

.dropdown-hover-button {
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    color: #fff;
}

.dropdown-hover {
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s ease 0.3s;
    width: 100%;
    min-width: fit-content;
}

.dropdown-hover.show {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.dropdown-hover-item {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    transition: background-color 0.2s ease;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
}


