.container {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
}

.reply-form {
    background-color: #3b4252;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.reply-title {
    color: #eceff4;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #4c566a;
    font-size: 1.5em;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #4c566a;
    border-radius: 4px;
    background-color: #383d48;
    color: #eceff4;
    font-family: inherit;
    font-size: 1em;
    box-sizing: border-box;
    outline: none;
    min-height: 50px;
    overflow: hidden;
    line-height: 1.6;
    color: #b7c9d8;
}

.form-control::placeholder {
    color: #6a717e;
}

.form-control:focus {
    color: #b7c9d8;
    border-color: #313742;
    background-color: #313742;
    box-shadow: 0 0 5px rgba(136, 192, 208, 0.3);
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.alert-danger {
    background-color: #bf616a;
    color: #eceff4;
    border: 1px solid #d08770;
}

.reply-button,
.cancel-button {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

.reply-button {
    background-color: #558BBD;
    color: #2e3440;
}

.reply-button:hover {
    background-color: #8fbcbb;
}

.cancel-button {
    background-color: #d08770;
    color: #2e3440;
    margin-left: 10px;
}

.cancel-button:hover {
    background-color: #bf616a;
}