.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.logo {
  height: 30px;
  margin-right: 20px;
}

.logo-navigation, .auth-search {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a, .auth-search a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

nav i, .auth-search i {
  margin-right: 5px;
}


body {
  background-color: #181a1b;
  color: #ddd;
  font-family: sans-serif;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.new-tag {
    background-color: #3b82f6;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.6em;
    margin-left: 5px;
}



/* management page */
.management-page {
    padding-bottom: 10px
}

.pagination {
    display: inline-block;
}

.pagination a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #505662;
}

.pagination a.active {
  background-color: #3b596c;
  border: 1px solid #3b596c;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


/* general  */

.icon-object-image {
    max-width:25px;
    max-height:25px;
}