.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.logo {
  height: 30px;
  margin-right: 20px;
}

.logo-navigation, .auth-search {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a, .auth-search a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

nav i, .auth-search i {
  margin-right: 5px;
}


body {
  background-color: #181a1b;
  color: #ddd;
  font-family: sans-serif;
  align-items: center;
  min-height: 100vh; /* Занимает всю высоту экрана */
  margin: 0;
  padding: 0;
}

.category-group-container {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #282a2b; /* Dark background */
    border-radius: 8px;
    padding: 20px;
}

.category-group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1.2em;
  color: #9CDCFE;
  margin-bottom: 10px;
}

.category-group-header i {
  font-size: 1em;
  margin-left: 5px;
  color: #9CDCFE;
}

.category-list {
    list-style: none;
    padding: 0;
}

.category-item {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #44475A;
}

.category-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.category-info {
    flex-grow: 1;
}

.category-title {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #F8F8F2; /* Brighter text */
}

.category-tags {
    font-size: 0.8em;
    color: #6272A4; /* Muted text */
}

.category-tags a {
    color: #6272A4;
    text-decoration: none;
    margin-right: 5px;
}

.category-stats {
  width: 150px;
  text-align: right;
  font-size: 0.8em;
  color: #6272A4;
}

.forum-stats {
  margin: 0;
}

.category-last-post {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.8em;
    color: #6272A4;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.last-post-info {
  margin: 0;
  text-align: right;
}

.new-badge {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 0.7em;
  border-radius: 5px;
  margin-left: 5px;
}

.hidden {
  display: none;
}

.cs-version {
  font-size: 0.75em;
  color: #6272A4;
  margin-bottom: 5px;
}