/* base.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.logo {
  height: 30px;
  margin-right: 20px;
}

.logo-navigation, .auth-search {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a, .auth-search a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

nav i, .auth-search i {
  margin-right: 5px;
}


body {
  background-color: #181a1b;
  color: #ddd;
  font-family: sans-serif;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.new-tag {
    background-color: #3b82f6;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.6em;
    margin-left: 5px;
}



/*  dropdown click  */
.dropdown-click {
    position: relative;
    display: inline-block;
}

.dropdown-click-button {
    background-color: transparent;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}


.dropdown-click-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-click-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-click-show {
    display: block;
}



/*  dropdown hover  */
.dropdown-hover-menu {
    position: relative;
    display: inline-block;
}

.dropdown-hover-button {
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    color: #fff;
}

.dropdown-hover {
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s ease 0.3s;
    width: 100%;
    min-width: fit-content;
}

.dropdown-hover.show {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.dropdown-hover-item {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    transition: background-color 0.2s ease;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
}



/* management page */
.management {
    padding-bottom: 10px
}

.pagination {
    display: inline-block;
}

.pagination a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #505662;
}

.pagination a.active {
  background-color: #3b596c;
  border: 1px solid #3b596c;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}



/* general  */
.icon-object-image {
    max-width:25px;
    max-height:25px;
}

.back-button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px
}


.back-arrow {
    margin-right: 8px;
    font-size: 16px;
    font-weight: bold;
}


``
/*  help list content */
.menu {
    position: relative;
    display: inline-block;
}

.create-object-content {
    background-color: #2a475e;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.content-type-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s ease 0.3s;
}

.content-type-dropdown.show {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.dropdown-item {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    transition: background-color 0.2s ease;
    white-space: nowrap;
}


/*  button function   */

#delete-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    transition: background-color 0.2s ease;
    white-space: nowrap;
}

#delete-button i {
    margin-right: 5px;
}

#edit-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    transition: background-color 0.2s ease;
    white-space: nowrap;
}

#edit-button i {
    margin-right: 5px;
}

#create-group-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    transition: background-color 0.2s ease;
    white-space: nowrap;
}

#create-group-button i {
    margin-right: 5px;
}
