.management-page {
    padding-bottom: 10px
}

.posts {
    border-radius: 6px;
}

.post::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 4px;
    border-radius: 4px;
    display: block;
    opacity: 0.5;
}

.post:last-child::after {
    content: none;
}

.post {
    position: relative;
    display: flex;
    padding: 15px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    margin-bottom: 5px;
}
.post-user-info {
    width: 20%;
    text-align: center;
    padding-right: 15px;
    /*border-right: 1px solid #6272a4;*/
}

.post-user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    overflow: hidden;
}

.post-content-data {
    width: 80%;
    padding-left: 20px;
    line-height: 1.6;
}

.post-user-info-other {
    font-weight: bold;
    margin-bottom: 5px;
}

.post-content-info {
    width: 80%;
    padding-left: 15px;
}


