<!-- генерации ии -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-wi dth, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dark.css')}}">

    <title>{{ title }}</title>
</head>
<body>
<div class="header">
    <div class="logo-navigation">
        <a href="/" class="logo-link">
            <img src="" alt="Logo" class="logo">
        </a>
        <nav>
            <ul>
                <li>
                    <a href="/forums">
                        <i class="fa fa-comments-o"></i>
                        Форумы
                    </a>
                </li>
                <li>
                    <a href="/whats-new">
                        <i class="fa fa-bolt"></i>
                        Что нового?
                    </a>
                </li>
                <li>
                    <a href="/users">
                        <i class="fa fa-users"></i>
                        Пользователи
                    </a>
                </li>
                <li>
                    <a href="/wiki">
                        <i class="fa fa-book"></i>
                        Wiki
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        {% if current_user.is_authenticated %}
        <div class="dropdown">
            <a href="#" class="dropdown-button" onclick="toggleDropdown(event)">
                {{ current_user.nickname }}
            </a>
            <div id="myDropdown" class="dropdown-content">
                <a href="/profile/{{ current_user.id }}/">Профиль</a>
                <a href="/logout">Выйти</a>
            </div>
        </div>
        {% else %}
        <div class="auth-search">
            <a href="/login"><i class="fa fa-key"></i>Вход</a>
            <a href="/register"><i class="fa fa-clipboard"></i>Регистрация</a>
            <!--        <form action="/search" method="GET">-->
            <!--            <input type="search" placeholder="Поиск..." name="query">-->
            <!--            <button type="submit">-->
            <!--                <i class="fa fa-search"></i>-->
            <!--            </button>-->
            <!--        </form>-->
        </div>
        {% endif %}
    </div>
</div>
<main role="main" class="container" style="margin-top: 50px">
    {% block content %}{% endblock %}
</main>

<script>
    function toggleDropdown(event) {
        event.preventDefault();
        document.getElementById("myDropdown").classList.toggle("show");
    }
    window.onclick = function(event) {
        if (!event.target.matches('.dropdown-button')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
</body>
</html>


