{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/category.css')}}">

<div class="category">
    <h1 class="category-title">{{ category.title }}</h1>
    <div class="function-objects">
        <a href="/#group-{{category.parent_id}}"
           class="back-button">
            <span class="back-arrow">&lt;</span> Назад
        </a>
        {% if current_user.is_authenticated %}
        {% if current_user.is_permitted('delete_category') %}
        <a href="/categories/{{category.id}}/delete" class="delete-category">Удалить категорию</a>
        {% endif %}
        {% if current_user.is_permitted('create_object_content_in_category') %}
        <div class="menu">
            <a href="#" class="create-object-content" id="create-content-button">Создать объект контента</a>
            <div class="content-type-dropdown" id="content-type-dropdown">
                <a href="/categories/{{ category.id }}/create_object_content?content_type=forum" class="dropdown-item">Форум</a>
                <a href="/categories/{{ category.id }}/create_object_content?content_type=topic" class="dropdown-item">Топик</a>
            </div>
        </div>
        {% endif %}
        {% endif %}
    </div>
    <div class="category-items">
        {% for forum in forums_by_category %}
        <div class="category-item">
            <i class="item-icon"><img class="icon-object-image" src="/static/image/icon_object/forum.webp"></i>
            <div class="item-info">
                <!--                                    <span class="new-tag">Новое</span>-->
                <a class="item-title" href="/forums/{{forum.id}}/">{{forum.title}}</a>

            </div>
            <div class="item-stats">
                Темы x <br> Сообщения x
            </div>
            <div class="item-last-post">
                <img src="" alt="User Avatar">
                <p>Софт RakSAMP Lite <br> Вчера в 12:45 • Zooryby...</p>
            </div>
        </div>
        {% endfor %}
        {% for topic in topics_by_category %}
        <div class="category-item">
            <i><img class="icon-object-image" src="/static/image/icon_object/link.webp"></i>
            <div class="item-info">
                <!--                <div class="item-tags">-->
                <!--                    <span class="tag">Гайд</span>-->
                <!--                    <span class="tag">Совет</span>-->
                <!--                </div>-->
                <a href="/topics/{{topic.id}}/" class="item-title">{{topic.title}}</a>
<!--                <div class="item-author">{{topic.author_id}}</div>-->
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const menu = document.querySelector('.menu');
    const createContentButton = document.getElementById('create-content-button');
    const contentTypeDropdown = document.getElementById('content-type-dropdown');
    function setDropdownWidth() {
        const buttonWidth = createContentButton.offsetWidth;
        contentTypeDropdown.style.width = buttonWidth + 'px';
    }
    setDropdownWidth();
    window.addEventListener('resize', setDropdownWidth);
    menu.addEventListener('mouseenter', function() {
        setDropdownWidth()
        contentTypeDropdown.classList.add('show');
        createContentButton.setAttribute('aria-expanded', 'true');
    });
    menu.addEventListener('mouseleave', function() {
        contentTypeDropdown.classList.remove('show');
        createContentButton.setAttribute('aria-expanded', 'false');
    });
});
</script>

{% endblock %}
