{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/forum.css')}}">

<div class="forum">
    <h1 class="forum-title">вака</h1>
    <a href="/{{'categories' if forum.parent_type.value == 'category' else topic.parent_type.value + 's'}}/{{forum.parent_id}}/"
       class="back-button">
        <span class="back-arrow">&lt;</span> Назад
    </a>
    <div class="management">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">...</a>
            <a href="#">5</a>
            <a href="#">&raquo;</a>
        </div>
        <div class="function-objects">
            {% if current_user.is_authenticated %}
            {% if forum.author_id == current_user.id %}
            <a href="/forums/{{forum.id}}/delete" class="delete-forum">Удалить подкатегорию</a>
            {% endif %}
            <a href="/forums/{{forum.id}}/create_topic" class="create-topic">Создать тему</a>
            {% endif %}
        </div>
    </div>
    <div class="forum-items">
        {% for topic in topics %}
        <div class="forum-item">
            <div class="item-avatar">
                <img src="" alt="User Avatar">
            </div>
            <div class="item-info">
                <!--                <div class="item-tags">-->
                <!--                    <span class="tag">Гайд</span>-->
                <!--                    <span class="tag">Совет</span>-->
                <!--                </div>-->
                <a href="/topics/{{topic.id}}/" class="item-title">{{topic.title}}</a>
                <div class="item-author">{{topic.author_id}}</div>
                <div class="item-stats">
                    <span>20<img src="" width="15px"></span>
                    <span>10K<img src="" width="15px"></span>
                    <span>Орк ответил 29 Окт 2024</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
