{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">

{% for group in groups %}
<div class="group" id="group-{{group.id}}">
    <div class="group-header" onclick="toggleCategory(this)">
        <a class="group-sil" href="#group-{{group.id}}">{{group.title}}</a>
        <a href="/DASD" class="create-object-content" >Удалить группу</a>
        <a href="/DASD" class="create-object-content" >Редактировать группу</a>
        <a href="/DASD" class="create-object-content" >Создать обьект контента</a>

        <span class="arrow rotated">&#x2303;</span>
    </div>
    <div class="group-items">
        {% for category in categories_by_groups %}
        {% if category.parent_id == group.id %}
        <div class="group-item">
            <i class="item-icon"><img class="icon-object-image" src="static/image/icon_object/category.webp"></i>
            <div class="item-info">
                <!--                                    <span class="new-tag">Новое</span>-->
                <a class="item-title" href="/categories/{{category.id}}/">{{category.title}}</a>
                <div class="item-child-objects">
                </div>
            </div>
            <div class="item-stats">
            </div>
            <div class="item-last-post">
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for forum in forums_by_groups %}
        {% if forum.parent_id == group.id %}
        <div class="group-item">
            <i class="item-icon"><img class="icon-object-image" src="static/image/icon_object/forum.webp"></i>
            <div class="item-info">
                <!--                                    <span class="new-tag">Новое</span>-->
                <a class="item-title" href="/forums/{{forum.id}}/">{{forum.title}}</a>
            </div>
            <div class="item-stats">
            </div>
            <div class="item-last-post">
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for topic in topics_by_groups %}
        {% if topic.parent_id == group.id %}
        <div class="group-item">
            <i><img class="icon-object-image" src="static/image/icon_object/link.webp"></i>
            <div class="item-info">
                <!--                <div class="item-tags">-->
                <!--                    <span class="tag">Гайд</span>-->
                <!--                    <span class="tag">Совет</span>-->
                <!--                </div>-->
                <a href="/topics/{{topic.id}}/" class="item-title">{{topic.title}}</a>
                <!--                <div class="item-author">{{topic.author_id}}</div>-->
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}
<script>
    function toggleCategory(header) {
        const categoryGroup = header.parentNode;
        const categoryItems = categoryGroup.querySelector('.group-items');
        const arrow = header.querySelector('.arrow');

        categoryItems.classList.toggle('collapsed');
        arrow.classList.toggle('rotated');
    }

</script>

<footer>
    <div class="container">
        <p>&copy; 2024 Ваш форум. Все права защищены.</p>
    </div>
</footer>

{% endblock %}