{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/profile.css')}}">

<div class="profile-block">
    <div class="user-info">
        <div class="user-avatar">S</div>
        <div class="user-details">
            <div class="user-name">{{view_user.}}</div>
            <div class="user-roles">Новичок</div>
        </div>
        <a href="#" class="report-button">Жалоба</a>
    </div>

    <div class="user-stats">
        <div class="stat-item">
            <div class="stat-label">Сообщения</div>
            <div class="stat-value">1</div>
        </div>
        <div class="stat-item">
            <div class="stat-label">Дата регистрации</div>
            <div class="stat-value">xx.xx.xxx</div>
        </div>
    </div>

    <div class="user-footer">

    </div>
</div>
{% endblock content %}