{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/register.css')}}">
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="registration-container">
        <h1 align="center">Регистрация</h1>
        <div class="form-section">
            <div class="form-group">
                <label for="username">Имя пользователя: </label>
                {{ form.name(class="form-control", type="text", id="username") }}
                {% for error in form.name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
                <p class="form-description">Это имя будет отображаться в Ваших сообщениях. Вы можете использовать
                    любое имя, какое пожелаете, но в рамках правил.</p>
            </div>
            <div class="form-group">
                <label for="email">Электронная почта: </label>
                {{ form.email(class="form-control", type="email", id="email") }}
                {% for error in form.email.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <div class="form-group password-group">
                <label for="password1">Пароль: </label>
                {{ form.password(class="form-control", type="password", id="password1") }}
                {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
                <p class="form-description">Необходимо указать пароль.</p>
            </div>
            <div class="form-group password-group">
                <label for="password2">Повторите пароль: </label>
                {{ form.password_again(class="form-control", type="password", id="password2") }}
                {% for error in form.password_again.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
                <p class="form-description">Необходимо указать пароль повторно.</p>
            </div>
            <!--            <div class="form-group">-->
            <!--                <label class="agreement">-->
            <!--                    <input type="checkbox" name="agreement" required>-->
            <!--                    Я согласен(на) с условиями и политикой конфиденциальности.-->
            <!--                </label>-->
            <!--            </div>-->

            <p>{{ form.submit(type="submit", class="submit-button") }}</p>
            {{message}}
        </div>
    </div>
</form>

{% endblock %}