{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/topic.css')}}">


<div class="topic">
    <div class="topic-header">
        <h1 class="topic-title">{{topic.title}}</h1>
        <a href="/{{'categories' if topic.parent_type.value == 'category' else topic.parent_type.value + 's'}}/{{topic.parent_id}}/" class="back-button">
            <span class="back-arrow">&lt;</span> Назад
        </a>
    </div>
    <!--    -->
    <div class="management">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">...</a>
            <a href="#">5</a>
            <a href="#">&raquo;</a>
        </div>
        <div class="function-objects">
            <a href="/topics/{{topic.id}}/delete" class="delete-topic">Удалить тему</a>
            <a href="/topics/{{topic.id}}/reply" class="reply">Ответить</a>
        </div>
    </div>
    <div class="posts">
        {% for post in posts %}
        <article class="post" id="post-{{post.id}}">
            <div class="post-user-info">
                <div class="post-user-avatar">
                    <img src="/static/image/avatars/avatar.webp" alt="User Avatar">
                </div>
                <div class="post-user-info-other">
                    {{ post.author.nickname }}
                </div>
            </div>
            <div class="post-content-info">
                <div class="post-content-header">
                    <span>{{post.created_data.strftime("%d %b %Y")}}</span>
                    <a href="#post-{{post.id}}" class="post-number">#{{loop.index}}</a>
                </div>
                <div class="post-content-data">
                    {{ post.content }}
                </div>
                <div class="post-content-footer">
                    {% if post.modified_data %}
                    <p>Последнее редактирование: {{post.modified_data.strftime("%d %b %Y")}}</p>
                    {% endif%}
                    {% if current_user.id == post.author_id %}
                    <a class="function-button" href="/posts/{{post.id}}/edit">Редактировать</a>
                    <a class="function-button" href="/posts/{{post.id}}/delete">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}
