{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/topic.css')}}">


<div class="topic">
    <div class="topic-header">
        <h1 class="topic-title">{{topic.title}}</h1>
    </div>
    <!--    -->
    <div class="management-page">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">...</a>
            <a href="#">5</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
    <div class="posts">
        {% for post in posts %}
        <article class="post">
            <div class="post-user-info">
                <div class="post-user-avatar">
                    <img src="" alt="User Avatar">
                </div>
                <div class="post-user-info-other">
                    {{ post.author.nickname }}
                </div>
            </div>
            <div class="post-content-info">
                <div class="post-header">
                    <span>27 Ноя 2024</span>
                    <a href="#" class="post-number">#1</a>
                </div>
                <div class="post-content-data">
                    {{ post.content }}
                </div>
                <div class="post-content-footer">

                </div>
            </div>
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}
