{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/topic.css')}}">


<div class="topic">
    <div class="topic-header">
        <h1 class="topic-title">{{topic.title}}</h1>
        <a href="{{back_path}}" class="back-button">
            <span class="back-arrow">&lt;</span> Назад
        </a>
    </div>
    <!--    -->
    <div class="management">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">...</a>
            <a href="#">5</a>
            <a href="#">&raquo;</a>
        </div>
        <div class="function-objects">
            {% if current_user.is_authenticated %}
            {% if (topic.author_id == current_user.id and current_user.is_permitted('delete_own_topic')) or
            current_user.is_permitted('delete_any_topic') %}
            <a href="/topics/{{topic.id}}/delete" class="delete-topic">Удалить тему</a>
            {% endif %}
            {% if current_user.is_permitted('create_post') %}
            <a href="/topics/{{topic.id}}/reply" class="reply">Ответить</a>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="posts">
        {% for post in posts %}
        <article class="post" id="post-{{post.id}}">
            <div class="post-user-info">
                <div class="post-user-avatar">
                    {% if post.author.has_avatar %}
                    <img src="/static/image/avatars/avatar_{{post.author.id}}.{{post.author.avatar_format}}">
                    {% else %}
                    S
                    {% endif %}
                </div>
                <div class="post-user-info-other">
                    <!--                    <a>{{ post.author.nickname }}</a>-->
                    <a class="dropdown-hover-nickname" id="dropdown-hover-nickname">{{post.author.nickname}}</a>
                    <div class="dropdown-hover" id="dropdown-hover">
                        <a href="/profile/{{post.author.id}}" class="dropdown-hover-item">Профиль</a>
                        {% if current_user.is_authenticated %}
                        <a href="/create_complaint?user_id={{post.author.id}}&post={{post.id}}&root=post" class="dropdown-hover-item">Жалоба</a>
                        {% if current_user.is_permitted('ban_users') and not post.author.has_ban %}
                        <a href="/ban/{{post.author.id}}" class="dropdown-hover-item">Заблокировать</a>
                        {% endif %}
                        {% if current_user.is_permitted('unban_users') and post.author.has_ban %}
                        <a href="/unban/{{post.author.id}}" class="dropdown-hover-item">Разблокировать</a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="post-content-info">
                <div class="post-content-header">
                    <span>{{post.created_data.strftime("%d %b %Y")}}</span>
                    <a href="#post-{{post.id}}" class="post-number">#{{loop.index}}</a>
                </div>
                <div class="post-content-data">
                    {{ post.content }}
                </div>
                <div class="post-content-footer">
                    {% if post.modified_data %}
                    <p>Последнее редактирование: {{post.modified_data.strftime("%d %b %Y")}}</p>
                    {% endif%}
                    {% if current_user.is_authenticated %}
                    {% if (post.author_id == current_user.id and current_user.is_permitted('edit_own_post')) or
                    current_user.is_permitted('edit_any_post') %}
                    <a class="function-button" href="/posts/{{post.id}}/edit">Редактировать</a>
                    {% endif %}
                    {% if (post.author_id == current_user.id and current_user.is_permitted('delete_own_post')) or
                    current_user.is_permitted('delete_any_post') %}
                    <a class="function-button" href="/posts/{{post.id}}/delete">Удалить</a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const menu = document.querySelector('.post-user-info-other');
    const createContentButton = document.getElementById('dropdown-hover-nickname');
    const contentTypeDropdown = document.getElementById('dropdown-hover');
    function setDropdownWidth() {
        const buttonWidth = createContentButton.offsetWidth;
        contentTypeDropdown.style.width = buttonWidth + 'px';
    }
    setDropdownWidth();
    window.addEventListener('resize', setDropdownWidth);
    menu.addEventListener('mouseenter', function() {
        contentTypeDropdown.classList.add('show');
        createContentButton.setAttribute('aria-expanded', 'true');
    });
    menu.addEventListener('mouseleave', function() {
        contentTypeDropdown.classList.remove('show');
        createContentButton.setAttribute('aria-expanded', 'false');
    });
});
</script>

{% endblock %}
